.callback
  img(src="images/callback-bg.jpg", alt="")
  .container
    .callback__block
      span.callback__subtitle
        | Есть вопросы?
      h3.callback__title
        | Оставьте свои контакты
      form(action="" method="POST").callback__form
        input(type="text" placeholder='Имя')
        input(type="text" placeholder='Телефон')
        button(type="submit").callback__submit
          | Отправить
      span.callback__policy
        | Нажимая на кнопку «Отправить», вы даете согласие на обработку своих персональных данных.
