extends /layout/app

block content
  include /layout/banner/banner
  include /layout/menu/menu
  include /layout/reasons/reasons
  include /layout/reviews/reviews
  include /layout/callback/callback
  include /layout/about/about
