.banner
  .swiper-container.banner-swiper-container
    .swiper-wrapper
      .swiper-slide.banner-swiper-slide
        .container
          .banner-slide__bg
            img(src="images/slide-bg1.jpg", alt="")
          .banner-slide__block
            h2.banner-slide__title
              | Счастливые часы
            .banner-slide__discount
              | скидка 15%
          p.banner-slide__subtitle
            | с 11:00 до 16:00 в будние дни
          a(href="#").slide__main-btn
            | Подробнее
      .swiper-slide.banner-swiper-slide
        .container
          .banner-slide__bg
            img(src="images/slide-bg1.jpg", alt="")
          h2.banner-slide__title
            | Счастливые часы
          p.banner-slide__subtitle
            | с 11:00 до 16:00 в будние дни
          a(href="#").slide__main-btn
            | Выбрать
      .swiper-slide.banner-swiper-slide
        .container
          .banner-slide__bg
            img(src="images/slide-bg1.jpg", alt="")
          h2.banner-slide__title
            | Счастливые часы
          p.banner-slide__subtitle
            | с 11:00 до 16:00 в будние дни
          a(href="#").slide__main-btn
            | Выбрать
    .banner__pagination-btn.banner__pagination-btn--prev
      img(src="" alt="")
    .banner__pagination-btn.banner__pagination-btn--next
      img(src="" alt="")
    .banner__pagination.swiper-pagination
